<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">Terms and Conditions</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            <p>Welcome to AberRange Media, where creativity meets innovation. Our mission is to help you capture and celebrate the most significant moments of your life through our comprehensive range of media services. We are passionate about storytelling and committed to delivering high-quality content that resonates with your audience.</p>
            <p> <b>Our Story</b> Founded in 2024, AberRange Media started as a small team of enthusiastic photographers and videographers. Over the years, we've grown into a full-fledged media company, offering a wide array of services to cater to your every need. From capturing the magic of weddings and birthdays to creating impactful promotional content and managing your social media presence, we are dedicated to making your vision a reality.</p>
            <p><b>Our Team</b> Our team of skilled professionals brings a wealth of experience and creativity to every project. We work collaboratively with our clients to understand their vision and deliver results that exceed expectations. Our passion for storytelling and attention to detail set us apart in the industry.</p> 
            <p>Thank you for considering AberRange Media for your media needs. We look forward to partnering with you to create beautiful, memorable, and impactful content.</p>
            <div class="text-center">
                <button class="btn btn-info btn-sm btn-theme mt-4">Back top</button>
            </div>
        </div>
    </div>
</section>